table {
	border-collapse: collapse;
	text-align: left;
}
thead {
	background-color: #000077;
	border: 1px solid black;
	color: white;
}
th, td {
	padding-right: 20px;
	border: 1px solid #CCCCCC;
}
.alternate {
	background-color: #DDDDDD; 
}
.ascend, .descend {
	background-color: #AAAAFF;
	background-repeat: no-repeat;
	background-position: 100%;
}
.ascend {
	background-image: url(ascend.png);
}
.descend {
	background-image: url(descend.png);
}
