h1 {
	text-align: center;
}
button {
	margin: 20px;
	margin-left: 625px;
}
#panel {
	position: relative;
	margin: auto;
	text-align: center;
	width: 400px;
	height: 400px;
}
.photo {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid #CCCCCC;
	background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/467435525/panda.jpg);
	background-size: 400px 400px;
	transition: 0.5s;
}
.photo:hover {
	z-index: 1;
}
#panel div:nth-of-type(1) {
	background-position: 0px 0px;
}
#panel div:nth-of-type(2) {
	background-position: -100px 0px;
}
#panel div:nth-of-type(3) {
	background-position: -200px 0px;
}
#panel div:nth-of-type(4) {
	background-position: -300px 0px;
}
#panel div:nth-of-type(5) {
	background-position: 0px -100px;
}
#panel div:nth-of-type(6) {
	background-position: -100px -100px;
}
#panel div:nth-of-type(7) {
	background-position: -200px -100px;
}
#panel div:nth-of-type(8) {
	background-position: -300px -100px;
}
#panel div:nth-of-type(9) {
	background-position: 0px -200px;
}
#panel div:nth-of-type(10) {
	background-position: -100px -200px;
}
#panel div:nth-of-type(11) {
	background-position: -200px -200px;
}
#panel div:nth-of-type(12) {
	background-position: -300px -200px;
}
#panel div:nth-of-type(13) {
	background-position: 0px -300px;
}
#panel div:nth-of-type(14) {
	background-position: -100px -300px;
}
#panel div:nth-of-type(15) {
	background-position: -200px -300px;
}
#ph1 {
	top: 0px;
	left: 0px;
}
#ph2 {
	top: 0px;
	left: 100px;
}
#ph3 {
	top: 0;
	left: 200px;
}
#ph4 {
	top: 0px;
	left: 300px;
}
#ph5 {
	top: 100px;
	left: 0px;
}
#ph6 {
	top: 100px;
	left: 100px;
}
#ph7 {
	top: 100px;
	left: 200px;
}
#ph8 {
	top: 100px;
	left: 300px;
}
#ph9 {
	top: 200px;
	left: 0px;
}
#ph10 {
	top: 200px;
	left: 100px;
}
#ph11 {
	top: 200px;
	left: 200px;
}
#ph12 {
	top: 200px;
	left: 300px;
}
#ph13 {
	top: 300px;
	left: 0px;
}
#ph14 {
	top: 300px;
	left: 100px;
}
#ph15 {
	top: 300px;
	left: 200px;
}
#ph16 {
	top: 300px;
	left: 300px;
}
