h1, h2 {
	text-align: center;
}
.buttons, .s1, .s2 {
	position: relative;
}
.instructions, #panel {
	position: absolute;
}
.s1 {
	left: 100px;
}
.s2 {
	left: 91px;
}
.buttons {
	left: 480px;
}
#time, #sorce {
	width: 40px;
}
#state {
	width: 157px;
}
#panel {
	top: 220px;
	left: 495px;
	height: 160px;
	width: 300px;
	padding: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
}
#panel input {
	width: 20px;
	height: 20px;
}
.instructions {
	top: 430px;
	left: 295px;
}
